# Ignore virtual environment directories
venv/
ENV/
env/
.venv/
checkpoints_Classifier2/
checkpoints_ClassifierNN/
checkpoints_Classifier_simulated_anheling/
data/
data2/
data3/
traces/
power_measurements
trace_data
./data_runs.zip
data_runs
data_runs/
./data_runs

# Ignore virtual environment directories at any depth:
**/venv/
**/ENV/
**/env/
**/.venv/

# Ignore specific checkpoints directories (if they only occur at the root, you can use /):
/checkpoints_Classifier2/
/checkpoints_ClassifierNN/
/checkpoints_Classifier_simulated_anheling/

# Ignore data directories at any location:
**/data/
**/data2/
**/data3/

# Ignore other directories (traces, etc.)
**/traces/
**/power_measurements/
**/trace_data/

# Ignore specific files or zip archives:
./data_runs.zip
**/data_runs/
./MTP1000_LASERBLADE_API.py
MTP1000_LASERBLADE_API
\MTP1000_LASERBLADE_API.py
ws.log
./Physical_NN_SHG-backup.git
/Physical_NN_SHG-backup.git
Physical_NN_SHG-backup.git